﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CalendarView.cshtml";

}
<h2>Index</h2>
<div id="calendar"></div>



<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
