﻿@model Fun_Appointement.User

@{
    /**/

    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Veuillez-vous identifier</h2>

<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">
            <h2>Identifiant</h2>
            @Html.EditorFor(Model => Model.Pseudo)
        </div>
        <div class="col-md-3">
            <h2>Mot de passe</h2>
            @Html.EditorFor(Model => Model.Password)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1 text-center">
           <input type="submit" class="btn btn-primary" value="Se connecter" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row center-block">
        @Html.ActionLink("Je n'ai pas encore de compte, amenez moi sur la page pour le créer", "Create", "Users", new { url = Request.Url }, new { @class = "btn btn-default" })
    </div>
}

