﻿@{
    ViewBag.Title = "Index du site";
}

<div class="jumbotron">
    <h1>FunAppointement</h1>
    <p class="lead">
        FunAppointement vous permet d'organiser facilement vos moments de détentes avec les autres,
        grace son moteur exclusif de preferences d'activités en fonction de vos disponibilités.
    </p>
</div>

@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-6">
            <h2>Votre compte</h2>
            <p>Gérer votre compte et indiquer vos activités préférés. Vous pourrez aussi vérirfier sur votre calendrier les activités auxquelles vous participez.</p>
        </div>
        <div class="col-md-6">
            <h2>Nouveau type activité</h2>
            <p>Création d'un nouveau type d'activité, pour que les autres membres puissent vous accompagner.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Trop cool, j'y vais", "Details", "Users",new { id = Fun_Appointement.Controllers.HomeController.ConnectedUserID }, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-64">
            @Html.ActionLink("je crée un nouveau type d'activité", "Index", "TypeActivities", new { url = Request.Url }, new { @class = "btn btn-primary" })
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <h2>Connexion</h2>
            <p>
                Vous êtes déjà inscrit, cliquer pour vous connecter
            </p>
        </div>
        <div class="col-md-4">
            <h2>Créer votre compte</h2>
            <p>cliquer ici pour commencer à creer votre compte</p>
        </div>
        <div class="col-md-4">
            <h2>Nos activités</h2>
            <p>Vous pouvez consulter les activités de nos membres, et voir les evenements déjà prévus !!!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Me connecter", "Login", "Authentification", new { url = Request.Url }, new { @class = "btn btn-primary bottom" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("M'inscrire", "Create", "Users", new { url = Request.Url }, new { @class = "btn btn-primary bottom" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Activités", "Index", "TypeActivities", new { url = Request.Url }, new { @class = "btn btn-primary bottom" })
        </div>
    </div>
}
