﻿@model Fun_Appointement.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informations de l'utilisateur @Model.Pseudo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            <label>Actif ?</label>
        </dt>
        <dd>

            @if (Model.Validated == true)
            {
                <label>Oui</label>
            }
            else
            {
                <label>Non</label>
            }
        </dd>

    </dl>
</div>
<div class="row">
    <label>Activités préférées : </label>
    @foreach (var elem in ViewBag.UserPref)
    {
            <label>@elem.TypeActivity.Name &nbsp;</label> 
    }
</div>
<br />
<p>
    @if (Model.IDUser == Fun_Appointement.Controllers.HomeController.ConnectedUserID)
    {
        @Html.ActionLink("Modifier mes paramètres", "Edit", new { id = Model.IDUser }, new { @class = "btn btn-primary" })
        <label>&nbsp;</label>
        @Html.ActionLink("Retourner à la liste des utilisateur", "Index", new { id = "" }, new { @class = "btn btn-primary" })
    }
    &nbsp;
    @*@Html.ActionLink("Mes activités", "GetActivitiesByUserByDate", "Calendar", new { datedeb = DateTime.Now.AddDays(-2), datefin = DateTime.Now.AddDays(2) }, new { @class = "btn btn-primary" })*@

</p>
