﻿@model Fun_Appointement.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Gestion de mon profil</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.IDUser)

        <div class="form-group">
            @Html.LabelFor(model => model.Pseudo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pseudo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pseudo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer les modifications" class="btn btn-primary" /> &nbsp;
                @Html.ActionLink("Abandonner mes modifications", "Index", "Home", new { id = "" }, new { @role = "button", @class = "btn btn-primary" })

            </div>
        </div>
    </div>
}
<h2>Gestion de mes activités préférés</h2>
<div class="row">
    <form action="/Users/choix1" method="post">
        <div class="col-md-2">
            <fieldset>
                <label>Activité Préférée</label><br /> 
                <select id="id" name="id1">
                    @foreach (var item in ViewBag.ListeTypeActivities)
                    {
                        if (ViewBag.UserPref.Count > 0 && ViewBag.UserPref[0].IDTypeActivity == item.IDTypeActivity)
                        {
                            <option selected value="@item.IDTypeActivity">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.IDTypeActivity">@item.Name</option>
                        }
                    }
                </select>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                <label>Activité Secondaire</label><br />
                <select id="id" name="id2">
                    @foreach (var item in ViewBag.ListeTypeActivities)
                    {
                        if (ViewBag.UserPref.Count > 1 && ViewBag.UserPref[1].IDTypeActivity == item.IDTypeActivity)
                        {
                            <option selected value="@item.IDTypeActivity">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.IDTypeActivity">@item.Name</option>
                        }
                    }
                </select>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                <label>Activité occasionnelle</label><br />
                <select id="id" name="id3">
                    @foreach (var item in ViewBag.ListeTypeActivities)
                    {

                        if (ViewBag.UserPref.Count > 2 && ViewBag.UserPref[2].IDTypeActivity == item.IDTypeActivity)
                        {
                            <option selected value="@item.IDTypeActivity">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.IDTypeActivity">@item.Name</option>
                        }
                    }
                </select>
            </fieldset>
        </div>
        <input type="submit" value="Valier mes préférences" class="btn-sm btn-primary"/>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
