﻿@model IEnumerable<Fun_Appointement.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des membres du site</h2>
@if (Fun_Appointement.Controllers.HomeController.ConnectedPseudo == "admin")

{<p>
        @Html.ActionLink("Nouveau membre", "Create", "", new { @role = "button", @class = "btn btn-primary" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pseudo)
        </th>
        @if (Fun_Appointement.Controllers.HomeController.ConnectedPseudo == "admin")
        {
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pseudo)
            </td>
            @if (Fun_Appointement.Controllers.HomeController.ConnectedPseudo == "admin")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Validated)
            </td>
            <td>
                @if (item.IDUser == Fun_Appointement.Controllers.HomeController.ConnectedUserID || Fun_Appointement.Controllers.HomeController.ConnectedPseudo == "admin")
                {
                    @Html.ActionLink("Modifier", "Edit", new { id = item.IDUser }, new { @role = "button", @class = "btn-sm btn-primary" })
                    <label>&nbsp;</label>
                    @Html.ActionLink("Details", "Details", new { id = item.IDUser }, new { @role = "button", @class = "btn-sm btn-primary" })
                }
            </td>
        </tr>

    }

</table>
