﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Retour Accueil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Fun_Appointement.Controllers.HomeController.ConnectedPseudo == "admin")
                {
                    <li class="text-uppercase">@Html.ActionLink("Gestion des comptes", "Index", "Users")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Utilisateurs", "Index", "Users")</li>
                }
                <li>@Html.ActionLink("Types d'activités", "Index", "TypeActivities")</li>
                <li>@Html.ActionLink("Calendrier", "Index", "Calendar")</li>
                @if (Request.IsAuthenticated)
                {
                    <li> - </li>
                    <li>@Html.ActionLink($"Deconnexion ({Fun_Appointement.Controllers.HomeController.ConnectedPseudo})", "Disconnect", "Authentification")</li>
                }
                <li>@Html.ActionLink(".", "Create", "Activities")</li>

            </ul>
        </div>
    </div>
</div>