﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FunAppointement</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("~/Views/Shared/_BarreMenu.cshtml");
    @RenderSection("scripts", required: false)
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - A WLR Product</p>
        </footer>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                    <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-remove"></span> Effacer
                    </button>
                    <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalSave" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enregistrement de l'Event</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" id="hdEventID" value="0" />
                        <select type="hidden" id="hdIDTypeActivity" value="1" />
                        
                        <div class="form-group">
                            <label>Activités</label>
                            <input type="text" id="txtSubject" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Début</label>
                            <div class="input-group date" id="dtp1">
                                <input type="text" id="txtStart" class="form-control" />

                            </div>
                            <label>Fin</label>
                            <div class="input-group date" id="dtp2">
                                <input type="text" id="txtEnd" class="form-control" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Adresse</label>
                            <textarea id="txtStreet" rows="1" class="form-control"></textarea>
                            <textarea id="txtPostalCode" rows="1" class="form-control"></textarea>
                            <textarea id="txtCity" rows="1" class="form-control"></textarea>
                        </div>

                        <button type="button" id="btnSave" class="btn btn-success">Enregistrer</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
    <link rel='stylesheet' href='~/Content/fullcalendar.css' />
    <script src='~/Scripts/lib/moment.min.js'></script>
    <script src='~/Scripts/fullcalendar.js'></script>
    <script src='~/Scripts/locale-all.js'></script>

</body>

</html>
<script>
    $(document).ready(function () {
        var events = [];
        var selectedEvent = null;
        FetchEventAndRenderCalendar();
        function FetchEventAndRenderCalendar() {
            events = [];
            $.ajax({
                type: "GET",
                url: "/Activities/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            eventID: v.IDActivity,
                            type: v.IDTypeActivity,
                            title: v.ActivityName,
                            start: moment(v.Date),
                            end: v.End != null ? moment(v.End) : null,
                            street: v.Street,
                            postalcode: v.PostalCode,
                            city: v.City,

                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalender(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                    refetchResourcesOnNavigate: true,
                    selectable: true,
                    selectHelper: true,
                    allDay: false,
                    defaultView: 'agendaWeek',
                    locale: 'fr',
                    aspectRatio: 2,
                    slotDuration: '01:00:00',
                    minTime: '08:00:00',
                    maxTime: '24:00:00',
                    forceEventDuration: true,
                    defaultTimedEventDuration: '02:00:00',
                    Duration: '02:00:00',
                    groupByDateAndResource: true,
                    timeFormat: 'HH:mm',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicDay,agenda'
                    },
                    eventColor: '#56d39f',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $title = $('<div/>');
                        $title.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm")));
                        if (calEvent.end != null) {
                            $title.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm")));
                        }
                        $title.append($('<p/>').html('<b>Lieu:</b>' + calEvent.city));
                        $('#myModal #pDetails').empty().html($title);

                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventID: 0,
                            IDTypeActivity: 1,
                            title: '',
                            start: start,
                            end: end,
                            street: '',
                            postalcode: '',
                            city: '',

                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            eventID: event.eventID,
                            type: event.IDTypeActivity,
                            Subject: event.title,
                            Start: event.start.format('DD/MM/YYYY HH:mm'),
                            End: event.end != null ? event.end.format('DD/MM/YYYY HH:mm') : null,
                            Street: event.street,
                            PostalCode: event.postalcode,
                            City: event.city

                        };
                        SaveEvent(data);
                        
                    }
                })
            }

            $('#btnEdit').click(function () {
                //Open modal dialog for edit event
                openAddEditForm();
            })
            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    $.ajax({
                        type: "POST",
                        url: '/Activities/DeleteEvent',
                        data: { 'IDActivity': selectedEvent.eventID },
                        success: function (data) {
                            if (data.status) {
                                $('#myModal').modal('hide');
                                FetchEventAndRenderCalendar();

                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })
                ;
                
            function openAddEditForm() {
                if (selectedEvent != null) {
                    $('#hdIDActivity').val(selectedEvent.eventID);
                    $('#hdIDTypeActivity').val(selectedEvent.IDTypeActivity);
                    $('#txtSubject').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm'));
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm') : '');
                    $('#txtStreet').val(selectedEvent.street);
                    $('#txtPostalCode').val(selectedEvent.postalcode);
                    $('#txtCity').val(selectedEvent.city);

                }
                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }
            $('#btnSave').click(function () {
                
                if ($('#txtSubject').val().trim() == "") {
                    alert('Subject required');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                if ($('#txtEnd').val().trim() == "") {

                    alert('End date required');
                    return;
                }
                else {
                    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm").toDate();
                    var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm").toDate();
                    if (startDate > endDate) {
                        alert('Invalid end date');
                        return;
                    }
                }

                var data = {
                    IDTypeActivity: $('#hdIDTypeActivity').val(),
                    //IDActivity: $('#hdIDActivity').val(),
                    ActivityName: $('#txtSubject').val().trim(),
                    Date: $('#txtStart').val().trim(),
                    End: $('#txtEnd').val().trim(),
                    Street: $('#txtStreet').val(),
                    PostalCode: $('#txtPostalCode').val(),
                    City: $('#txtCity').val()

                }
                SaveEvent(data);
                $('#myModalSave').modal('hide');
            })
            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/Activities/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            alert('FAITTTTTT');
                            FetchEventAndRenderCalendar();
                            $('#myModalSave').modal('hide');
                            
                        }
                    },
                    error: function () {
                        $('#myModalSave').modal('hide');
                        alert('Failed');
                    }
                })
            }
        }
    });

</script>
