﻿@model Fun_Appointement.TypeActivity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Modification d'un type d'activité</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDTypeActivity)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinUser, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-1">
                    @Html.EditorFor(model => model.MinUser, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MinUser, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaxUser, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-1">
                    @Html.EditorFor(model => model.MaxUser, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaxUser, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(Model => Model.IDUser, new { htmlAttributes = new { @class = "form-control" } })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" value="Enregistrer" class="btn btn-primary" />
                </div>
                <div class="col-md-5">
                    @Html.ActionLink("Annuler", "Index", "TypeActivity", new { @role = "button", @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }

    <div>
    </div>
</body>
</html>
