﻿@model IEnumerable<Fun_Appointement.TypeActivity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des activités auxquelles vous pouvez participer</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxUser)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxUser)
            </td>
            <td>
                @if (Fun_Appointement.Controllers.HomeController.ConnectedUserID == item.IDUser)
                {
                    @Html.ActionLink("Modifier", "Edit", new { id = item.IDTypeActivity }, new { @role = "button", @class = "btn-sm btn-primary" })
                }
                @*@Html.ActionLink("Details", "Details", new { id=item.IDTypeActivity }, new { @role = "button", @class = "btn btn-primary" }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.IDTypeActivity }, new { @role = "button", @class = "btn btn-primary" })*@
            </td>
        </tr> 
    }
        
</table>
<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Créer une nouvelle activité", "Create", "TypeActivity", new { @role = "button", @class = "btn btn-primary" })
    }
</p>

