﻿@model Fun_Appointement.Activity

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmé la suppression de l'activité (et des personnes inscrites à celle-ci s'il y en a)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeActivity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeActivity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer cette activité" class="btn btn-primary" /> &nbsp;
            @Html.ActionLink("Abandonner et retourner à la liste des activités", "Index", "", new { @role = "button", @class = "btn btn-primary" })
        </div>
    }
</div>
