﻿@model Fun_Appointement.Activity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details de l'activité</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeActivity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeActivity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.IDActivity }, new { @role = "button", @class = "btn btn-primary" }) &nbsp;
    @Html.ActionLink("Back to List", "Index", new { id = "" }, new { @role = "button", @class = "btn btn-primary" })
</p>
