﻿@model IEnumerable<Fun_Appointement.Activity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nouvelle activité", "Create", "", new { @role = "button", @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeActivity.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeActivity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Validated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id = item.IDActivity }, new { @role = "button", @class = "btn-sm btn-primary" }) &nbsp;
            @Html.ActionLink("Details", "Details", new { id = item.IDActivity }, new { @role = "button", @class = "btn-sm btn-primary" }) &nbsp;
            @Html.ActionLink("Delete", "Delete", new { id = item.IDActivity }, new { @role = "button", @class = "btn-sm btn-primary" })
        </td>
    </tr>
}

</table>
